<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <style>
        button {
            font-size: 16px;
        }
        img {
            width: 200px;
        }
        .order {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h1>В вашей корзине 1 товар:</h1>
        <h3>{{ game }}</h3>
        <img src="https://avatars.mds.yandex.net/get-mpic/4220209/2a0000018ef0f3380a19399e4700f274c11d/optimize" alt="">
        <div class="order">
            <button >Оформить заказ</button>
        </div>
    </div>
    <button><a href="/platform">Вернутся обратно</a></button>
</body>
</html>